/*body{
	background:rgba(30,144,255,0.55);
}*/
*{
	margin: 0;
	padding: 0;
}
#div
{
	display: none;
	width: 200px;
	height: 200px;
	background: #e6e6;
}
.huoqu
{
	display: inline-block;
}
.denglu{
	width: 530px;
	height: 280px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}
table{
	line-height: 50px;
	margin-left: auto;
	margin-right: auto;
}

