*{
	margin: 0px;
	padding: 0px;
}
body{
	width: 100%;
	height: 100%;
	widows: auto;
}
#big{
	width: 100%;
	height: auto;
	widows: auto;
	/*border: 1px solid red;*/
}
#top_1{
	width: 100%;
	height: 50px;
	widows: auto;
	background:rgba(30,144,255,0.55);
	position: relative;
}

.lianxi ul{
	position: absolute;
	top: 15px;
	left: 100px;
}
.lianxi ul li{
	list-style: none;
	float: left;
	margin-right: 10px;
}

#neirong{
	width: 100%;
	/*border: 2px solid #6DBFFF;*/
}
#logo_daohang p{
	float: left;
	font-family: "HYShangWeiShouShuW";
	font-size: 75px;
	margin-top: 25px;
	color: rgba(30,144,255,0.8);
}
#logo_daohang{
	widows: 100%;
	height: 120px;
	/*background: rgba(135,206,250,0.5);*/
}
/*#daohang_lang1{
	widows: auto;
	width: 40%;
	height: auto;
}*/
#logo_daohang .daohang_1{
	position: absolute;
	top: 123px;
	right: 0%;
}
#logo_daohang li{
	list-style: none;
	text-align: center;
	line-height: 50px;
	margin-right: 50px;
	font-size: 20px;
}
#logo_daohang a{
	text-decoration: none;/*设置无下划线*/
	color: #000000;
	display: block;		  /*设置超链接为块状元素*/
}
#logo_daohang ul li{
	width: 140px;
	float: left;
}
#logo_daohang ul li ul li{
	background: rgba(30,144,255,0.8);
}
#logo_daohang ul li ul{
	display: none;			/*设置2级菜单隐藏*/	
}
#logo_daohang ul li a:hover{
	color: #fff;
	background: rgba(30,144,255,0.8);
}
#logo_daohang ul li ul li a:hover{
	background: rgba(30,144,255,0.8);
}
#logo_daohang ul li:hover ul,#logo_daohang ul li a:hover ul{
	display: block;			/*设置为block，为显示*/
	width: 140px;
}
.logo{
	width: 180px;
	height: 100px;
	float: left;
	margin: 10 0 0 85px ;
}
/*#daohang_lan{
	width: 80%;
	height: 30%;
	border:1px solid yellow;
}*/
hr{
	clear: both;
}
.fabusaishi{
	position: absolute;
	top: 13px;
	left: 1410px;
}
.fabusaishi a{
	font-size: 22px;
	margin-right: 50px;
	color: black;
	text-decoration: none;
}
.fabusaishi a:hover{
	color: #fff;
}
#anniu button{
	background-color: ;
	color: black;
	margin-top: 12px;
}
#wenbeng{
	position: absolute;
	top: 15px;
	right: 550px;
}
#chaxun
{
	position: absolute;
	top: 15px;
	right: 510px;
}
#zhuce{
	width: 70px;
	height: 25px;
	float: left;
	margin-right: 5px;
	position: absolute;
	right: 160px;
}
#denglu{
	width: 70px;
	height: 25px;
	float: left;
	position: absolute;
	right: 85px;
}
#lun
{
    width: 100%;
    height: 820px;
}
.daohang_2{
	width: 100%;
	height: 60px;
	widows: auto;
	background:rgba(30,144,255,0.55);
	border: 1px solid black;
}
#daohang_2_1{
	height: 45px;
	margin: auto;
	margin-top: 6px;
}
/*#daohang_2_1 ul{
	position: absolute;
	top: 1000px;
	left: 165px;
}*/
#daohang_2_1 li{
	list-style: none;
	float: left;
	text-align: center;
	width: auto: ;
	line-height: 50px;
	margin-left: 140px;
	font-size: 20px;
}
#daohang_2_1 li:hover{
	color: #FFF;
}
.lei{
	width: 99.8%;
	height: 100%;
	border: 2px solid red;
}
.yuanxi_1{
	width: 1550px;
	margin: 20 auto 0 auto;
	/*border: 1px solid yellow;*/
}
table{
	margin: 0 auto;
}
.yuanxi_1{
	
}
.lei td{
	width: 300px;
	height: 50px;
}
.biaotou{
	text-align: center;
}
.yuanxi{
	width: 99.8%;
	height: 100%;
/*	border: 1px solid #008800;*/
	position: absolute;
	top: 0px;
	display: none;
}
.yuanxi_1{
	/*width: 1550px;*/
	margin: 20 auto 0 auto;
	/*border: 1px solid yellow;*/
}
.yuanxi_1 tr td{
	width: 900px;
	height: 50px;
	text-align: center;
}
.yuanxi_1 img{
	width: 300px;
	height: 200px;
	/*margin-right: 150px;
	margin-left: 50px;*/
}
#outer
{
	width: 100%;
	height: 100%;
	border: 1px solid;
	position: relative;
}
#guanyu{
	margin-top:0;
	width: 100%;
	height: 100px;
	border: 1px solid;
	background: rgb(10,10,10);
	color:  rgba(180,180,180, 0.5);
	text-align: center;
	position: relative;
	bottom: 0px;

}
#guanyu{
	padding-top: 50px;
}